.page {
  color: var(--color);
  font-family: var(--main-font);
  background-color: var(--background-color);
  background-image: 
    repeating-linear-gradient( to right, var(--gradient-color-one) 0 2px, transparent 2px 4px ), 
    repeating-linear-gradient( to bottom, var(--gradient-color-one) 0 2px, transparent 2px 4px ), 
    linear-gradient(to bottom, var(--gradient-color-two), var(--gradient-color-three));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--font-weight-text);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  border: 2px solid var(--color);
  padding-block-end: 20px;
  background-color: var(--background-color);
  inline-size: clamp(364px, 16.0352rem + 30.5164vw, 696px);
}

.header__logo {
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 20px;
  font-family: var(--accent-font);
  font-size: clamp(3rem, 2.6964rem + 1.5179vw, 4.0625rem);
}

.header__title {
  padding-block-end: 23px;
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.header__theme-menu {
  padding-inline-start: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.theme-menu__button {
  border: none;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--background-color);
  transition: opacity 0.3s ease;
  cursor: pointer;
  block-size: 100%;
  appearance: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  margin-inline-start: -20px;
  color: var(--color);
  animation: move 0.5s infinite alternate ease-in-out;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  margin-top: 2px;
  background-color: var(--color);
  transition: none;
  inline-size: 0%;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transition: inline-size 0.3s;
  inline-size: 100%;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color);
  background-color: var(--background-color);
  block-size: 100%;
  inline-size: clamp(
    320px,
    clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem),
    696px
  );
}

.card__title {
  padding: 5px 10px;
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-variation-settings: "wght" var(--font-weight-title);
}

.card__image-area {
  position: relative;
  display: flex;
  border-top: 2px solid var(--color);
  border-bottom: 2px solid var(--color);
  background-color: var(--background-color);
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__image-area__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.card__image-area__image_brightness {
  filter: brightness(150%);
}

.card__image-area__image_saturate {
  filter: saturate(158%);
}

.card__image-area__image_hue-rotate {
  filter: hue-rotate(-90deg);
}

.card__image-area__image_sepia {
  filter: sepia(80%);
}

.card__image-area__image_invert {
  filter: invert(0.7);
}

.card__image-area__image_contrast {
  filter: contrast(180%);
}

.card__image-area__image_multi {
  filter: brightness(110%) contrast(1.5) saturate(120%);
}

.card__image-area__label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: var(--color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  text-shadow: -1px 0 var(--stroke-color), 0 1px var(--stroke-color),
    1px 0 var(--stroke-color), 0 -1px var(--stroke-color);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .card__image-area__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

.card__text-area {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-block-start: 2px;
  padding: 25px;
}

.card__text-area__paragraph {
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-variation-settings: "wght" var(--font-weight-text);
}

.card__text-area__paragraph_line-through {
  text-decoration: line-through;
}

.card__button-area {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
  padding: 0 25px 25px 25px;
}

.card__icon-button {
  border: none;
  color: var(--color);
  background-color: transparent;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--color);
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.like-icon {
  inline-size: 27px;
  block-size: 24px;
}

.like-icon__core {
  transition: fill 0.03s;
}
.like-icon:hover .like-icon__core {
  fill: var(--color);
  transition: fill 0.3s;
}

.like-icon:active .like-icon__core {
  fill: var(--heart-color);
  transition: fill 0.3s;
}

.like-icon__main-body {
  transition: fill 0.3s;
}
.like-icon:hover .like-icon__main-body {
  fill: var(--color);
  transition: fill 0.3s 0.05s;
}
.like-icon:active .like-icon__main-body {
  fill: var(--heart-color);
  transition: fill 0.3s;
}

.like-icon.is-liked .like-icon__core {
  fill: var(--heart-color);
  transition: fill 0.3s;
}
.like-icon.is-liked .like-icon__main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.03s;
}

.like-icon.is-liked .like-icon__contur {
  fill: var(--heart-color);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked {
  animation: zoom 0.3s 0.1s ease-in;
}

.like-icon__sparks {
  opacity: 0;
}

.like-icon.is-liked .like-icon__sparks {
  animation: erase 0.3s 0.3s ease-in;
}

.button {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color);
  overflow: hidden;
  background-color: var(--background-color);
  cursor: pointer;
  appearance: none;
}

.button::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: var(--color);
  transition: transform 0.5s ease-in-out;
  transform: translate(-100%);
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: translate(0%);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--color);
}

.button__text {
  position: relative;
  z-index: 2; 
  color: var(--button-text-color-opposite);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference; 
}

.card__like-button {
  padding: 9px 17px;
  inline-size: 130px;
  block-size: 38px;
}

.save-button {
  gap: 8px;
  margin: 0 auto 104px;
  padding: 15px 20px;
  inline-size: 339px;
}

.save-button__floppy-icon {
  position: relative;
  z-index: 2;
  color: var(--button-text-color-opposite);
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  border: 2px solid var(--color);
  padding: 0;
  padding: 30px;
  color: var(--color);
  background-color: var(--background-color); 
  inline-size: 357px;
  block-size: 193px;


}

.dialog__form {
  display: flex;
  justify-content: space-between;
}

.dialog__form__info-area {
  display: flex;
  align-items: center;
  gap: 20px;
}


.dialog__form__info-area__floppy-icon {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__form__text {
  color: var(--color);
  font-family: var(--accent-font);
  font-weight: var(--font-weight-text);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__form__button {
  padding: 9px 17px;
  block-size: 38px;
  inline-size: 100%;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

@media (width <=375px) {
  .header,
  .main,
  .card {
    inline-size: 100vw;
  }

  .header__logo {
    font-size: clamp(2.8125rem, 1.358rem + 7.2727vw, 3.0625rem);
  }

  .header__title {
    font-size: 14px;
  }

  .save-button {
    flex-direction: column;
    inline-size: 310px;
  }

  .card__image-area__label {
    right: 11px;
  }

  .save-button__floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog {
    padding: clamp(1.25rem, -2.3864rem + 18.1818vw, 1.875rem);
    inline-size: clamp(15.75rem, -15.1591rem + 154.5455vw, 21.0625rem);
    block-size: 195px;
  }
  

}

